body{
    height: 100vh;
}

#title{
    font-size: 20px;
    margin-bottom: 20px;
}


#photo{
    height: 50vh;
    width: 50vh;
    margin: 12px;
}

#score{
    font-size: 12px;
    margin-bottom: 10px;
}

.show-image{
    height: 100%;
    width: 100%;
}

.selector-button{
    width: 25vw;
}
