body{
    height: 100vh;
}

#title{
    font-size: 8vh;
    margin-bottom: 20px;
}


.photo{
    height: 50vh;
    width: 50vh;
    position: absolute;
    left: 0;
    top: 0;
}

#border{
    z-index: 1000;
    background: transparent;
}

.stats{
    font-size: 4vh;
    margin-bottom: 10px;
}

.show-image{
    height: 100%;
    width: 100%;
}

.selector-button{
    width: 25vw;
    height: 10vh !important;
    line-height: 10vh !important;
    font-size: 30px !important;
}

#black-background{
    z-index: 100000;
}

#photo-container{
    position: relative;
    margin: 12px;
    height: 50vh;
    width: 50vh;
}
