body{
    height: 100vh;
}

#title{
    font-size: 8vh;
    margin-bottom: 2vh;
}


.photo{
    height: 40vh;
    width: 40vh;
    position: absolute;
    left: 0;
    top: 0;
}

#border{
    z-index: 1000;
    background: transparent;
}

.stats{
    font-size: 4vh;
    margin-bottom: 10px;
}

.show-image{
    height: 100%;
    width: 100%;
}

.selector-button{
    width: 25vw;
    height: 10vh !important;
    line-height: 10vh !important;
    font-size: 30px !important;
}

#black-background{
    z-index: 100000;
}

#photo-container{
    position: relative;
    margin: 1vh;
    height: 40vh;
    width: 40vh;
}



.fireworks{
    display:    none;
    position:   fixed;
    z-index:    -1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0 ) 
                url('/images/firework-resized.gif') 
                50% 40% 
                no-repeat;
}

body.highscore .fireworks{
    display: block;
}