<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
    <div th:if="${param.error}" class="top-margin">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="top-margin">
        You have been logged out.
    </div>
    <div th:if="${param.created}" class="top-margin">
        Account created!
    </div>
    <div class="row">
        <div class="col s8 m6 offset-s2 offset-m3">
            <div id="title" class="top-margin">
                Login
            </div>
            <form th:action="@{/login}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" class="validate" data-length="20"/>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate"/>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div><input type="submit" class="waves-effect waves-light btn" value="Sign In"/></div>
            </form>
            <div class="signup">
                Or
                <a href="/login/signup">Sign up</a>
            </div>
        </div>
    </div>
</body>
</html>