<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <meta charset="UTF-8"/>
    <title>Art or Photo</title>
</head>
<body>
    <div id="title">
        <center>Art or Photo</center>
    </div>
    <center>
        <div id="game">
            <div id="photo">
            </div>
            <div id="score">
            </div>
            <div id="buttons">
            <a class="waves-effect waves-light btn selector-button" id="art-btn">Art</a>
            <a class="waves-effect waves-light btn selector-button" id="photo-btn">Photo</a>
            </div>
        </div>
    </center>
</body>
</html>
