<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/upload.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <meta charset="UTF-8"/>
    <title>Art or Photo</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
                <li class="active"><a href="/">Home</a></li>
            </ul>
            <ul id="nav-mobile" class="right">
                <li><a href="/dashboard/">Dashboard</a></li>
                <li id="signout">
                    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input display="hidden" type="submit" value="Sign Out"/>
                    </form> 
                </li>
                <li id="login"><a href="/login/">Login</a></li>
            </ul>
        </div>
    </nav>


    
    <div id="title">
        <center>Art or Photo</center>
    </div>
    <center>
        <div id="game">
            <div id="photo-container">
                <div class="photo" id="photo">
                </div>
                <div class="photo" id="border">
                    <img src="/images/black-background.png" class="show-image" id="border-image"/>
                </div>
            </div>
            <div id="score" class="stats">
            </div>
            <div id="time" class="stats">
            </div>
            <div id="highscore" class="stats">
            </div>
            <div id="buttons">
                <a class="waves-effect waves-light btn selector-button" id="art-btn">Art</a>
                <a class="waves-effect waves-light btn selector-button" id="photo-btn">Photo</a>
                <a class="waves-effect waves-light btn selector-button" id="start-btn">Start</a>
            </div>
        </div>

        <a class="waves-effect waves-light btn modal-trigger" href="#upload" id="image-upload-btn">Upload an image</a>


        <div class="modal" id="upload">
            <div class="modal-content">
                <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                    <input type="radio" name="category" value="art" id="art-upload"/><label for="art-upload">Art</label><br/>
                    <input type="radio" name="category" value="photo" id="photo-upload"/><label for="photo-upload">Photo</label><br/><br/>
                    <input type="file" name="image"/><br/><br/>
                    <input type="submit" value="Submit" id="btnSubmit"/>
                </form>
                <div id="result">
                </div>
            </div>
        </div>
    </center>
</body>
</html>
