<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/userdashboard.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/userdashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div id="title" class="top-margin">
            Dashboard
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="info-box small">
                    <div id="username">
                    </div>
                    <div id="playcount">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>